<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="gitUsername" value="miru-rcr"/>
    <add key="gitPassword" value="GitRepoPass01"/>
    <!--add key="repoName" value="stam-acasa"/-->
    <add key="repoName" value="TestApp"/>
    <!--add key="token" value="aa9b6e6c70497b90cb56bde6ba7632e99f9f3387"/-->
    <add key="destinationFolder" value="D:\clone"/>
    <add key="historyJsonPath" value="D:\clone\history.json"/>
  </appSettings>
</configuration>